body{
  background-image: url(paper-bg.jpg)
}
h1{
  font-family: 'Arvo', serif;
}
.titleh1{
  font-family: 'Permanent Marker', cursive;
  text-shadow: 2px 0 #808080, 0 2px #808080, 2px 0 #808080, 0 2px #808080;

}
.container { 
  text-align: center;
  padding: 0px 0px 70px 0px; 
  background-color: #5F6C4D;
  border-radius:10px;
  margin-bottom: 40px;
}
header{
  padding-top: 10px;
}

.logout{
  float:right;
  color:#eeeeee;
}
.startButton{
  margin-left:5px;
  background-color: #616059;
}
.loginButton{
  margin-left:5px;
  background-color: #616059;
}
.logoutButton{
  margin-left:5px;
  background-color: #616059;
}
button{
  background-color: #616059;
  color:white;
}

Link{
  color:#eeeeee;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
