body{
  background-image: url(paper-bg.jpg)
}
h1{
  font-family: 'Arvo', serif;
}
.titleh1{
  font-family: 'Permanent Marker', cursive;
}
.container { 
  text-align: center;
  background-color: #737c67;
  padding-bottom:5px;
  border-radius:10px;
}
header{
  padding-top: 10px;
}

.logout{
  float:right;
  color:#eeeeee;
}
.startButton{
  margin-left:5px;
  background-color: #616059;
}
.loginButton{
  margin-left:5px;
  background-color: #616059;
}
.logoutButton{
  margin-left:5px;
  background-color: #616059;
}
button{
  background-color: #616059;
  color:white;
}

Link{
  color:#eeeeee;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
