body{
  background-color: #c4c4c4;
}
.container {
  margin-top:1%;
  text-align: center;
  background-color: #737c67;
  padding-bottom:5px;
}
header{
  padding-top: 10px;
}

.logout{
  float:right;
  color:#eeeeee;
}
.startButton{
  margin-left:5px;
  background-color: #616059;
}
.loginButton{
  margin-left:5px;
  background-color: #616059;
}
.logoutButton{
  margin-left:5px;
  background-color: #616059;
}
button{
  background-color: #616059;
}

Link{
  color:#eeeeee;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
