.createButton{
    width:100px;
    margin-bottom:15px;
}
.huntButton{
    width:100px;
    
}
.createLink{
    color:#eeeeee;
}
.playLink{
    color:#eeeeee;
}
.contentContainer{
    height:60vh;
    padding:10%;
}

.def {
    font-family: 'Roboto Slab', serif;
}
