.list-overflow-container {
  max-height: 545px;
  overflow-x: hidden;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #5a82a7;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}
.list-group-item{
  display: flex;
  margin-bottom: 10px;
  border: 1px #DDDDDD solid;
  border-radius: 4px;

}