h5{
    font-family: 'Roboto Slab', serif;
}

.huntsBox{
    background-color: #e4e4e4;
}
.playLink{
    color:#eeeeee;
}
.gameBox{
    background: #78909c;
    border: 2px #616159 solid;
    border-radius: 10px;
    margin: 0px 70px;
    padding-bottom: 40px;
    padding-top: 10px;
}

.titleOfGame{
    margin-top:10px;
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    color:#1e1e24;
    text-shadow: 1px 1px 1px rgb(218, 218, 218);
}
.playClue{
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    margin-top: 10px;
}
.clueIndicator{
    text-shadow: 1px 1px 1px rgb(218, 218, 218);
}

@media only screen and (max-width: 436px) {

.gameBox{
    margin:0px;
    }

}