h1{
    margin-bottom: 20px;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 0 #808080, 0 2px #808080, 2px 0 #808080, 0 2px #808080;

}
h3{
    font-family: 'Roboto Slab', serif;
}
.chooseGameTitle {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: -10px;
}
.playLink{
    color:#eeeeee;
}

.pickGameTitle {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    color: #09282b;
    background-color:rgb(172, 172, 172);
    border-radius: 20px;
    padding:5px 10px;
    margin-right:10px;

}

.createdDiv{
    /* font-style: italic; */
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: dimgrey;
}

.chooseGameFlexBox{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
}

.chooseGameDelete {
    height: 35px;
    width: 95px;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mainChooseGame {
    background: #78909c;
    border: 2px #616159 solid;
    border-radius: 10px;
    margin: 30px 70px;
    padding: 35px 20px 35px 20px;
}
@media only screen and (max-width: 575px) {
    .mainChooseGame {
        margin:30px 0px;
        padding: 35px 0px;
    }
}