.contentContainer{
    height:auto;
}
.instructionBox{
    background-color:#c5c5c5;
}

.deleteButton{
    margin-left:5px;
}

.addClueAndCode{
    margin-right: 30px;
    margin-top: 1%;
    height:35px;
}

.clueSubmit{
    margin-top: 1%;
    height:35px;
}
