.navigation{
    height:auto;
    margin-top:2%;
    margin-bottom: 5%;
}

.startButton{
    float:right;
    margin-left:5px;
}

.loginButton{
    float:right;
    margin-left:5px;
}

.logoutButton{
    float:right;
    margin-left:5px;
}

button{
    background-color: #616059;
    font-family: 'Roboto Slab', serif;
}

.backToStart{
    color:#e9e9e9;
    font-family: 'Permanent Marker', cursive;
    
}

.test{
    margin-top:1.5%;
}