.navigation{
    height:auto;
    margin-bottom: 2%;
}

.startButton{
    float:right;
    margin-left:5px;
}

.loginButton{
    float:right;
    margin-left:5px;
}

.logoutButton{
    float:right;
    margin-left:5px;
}

button{
    background-color: #616059;
    font-family: 'Roboto Slab', serif;
}

.backToStart{
    color:#bbbbbb;
    font-family: 'Permanent Marker', cursive;
    font-size:30px;  
}
.backToStart:hover{
    color:#783ac0;
}

.test{
    margin-top:1.5%;
}
.avengersLogo{
    height:35px;
    width:auto;
}

@media only screen and (min-width: 992px) {
    .backToStart {
      margin-left: 12%;
    }

    .logoutButton{
        margin-right: 25vh;
    }
    .loginButton{
        margin-right:25vh;
    }
}
